:root {
  --bg: #0a2540;
  --primary-accent: #2ecc71;
  --secondary-accent: #d4af37;
  --text: #f8f9fa;
  --neutral: #e0e0e0;
  --success: #66bb6a;
  --alert: #ff9800;
  --danger: #c0392b;
  --inter: "Inter", sans-serif;
  --lato: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: clamp(14px, 1.2vw, 18px);
}
body {
  background-color: var(--neutral);
  color: var(--bg);
  font-family: var(--inter);
}
h1,
h2,
h3 {
  font-family: var(--lato);
}
header {
  background-color: var(--bg);
}
header h1 {
  color: var(--text);
}
header nav {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: relative;
}
header nav ul.open {
  display: block;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg);
  width: 100%;
  padding: 1rem;
}
header nav ul {
  display: none;
}
header nav ul li a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.05rem;
  display: block;
  padding: 0.5rem 1rem;
}
header ul li:last-child {
  outline: 1.5px solid var(--primary-accent);
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}
header ul li:last-child:hover {
  background-color: var(--primary-accent);
}
header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 1rem;
}
main h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.table-container {
  overflow-x: auto;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--text);
  border: 1px solid var(--neutral);
  border-radius: 8px;
  overflow: hidden;
}
th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--neutral);
}
th {
  color: var(--bg);
  font-weight: bold;
}
tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
p {
  font-size: 1.1rem;
  font-weight: 500;
}
#totalIncome {
  color: var(--success);
}
#totalExpenses {
  color: var(--danger);
}
footer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 1rem 1rem;
  text-align: center;
}

@media (max-width: 640px) {
  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 32rem) {
  header nav ul {
    position: static;
    display: flex;
    flex-direction: row;
  }
  header button {
    display: none;
  }
}
